@using Knowit.EpiserverFramework.Web.Features.Pages.RssFeedPage

@model RssFeedPageViewModel

<p>RSS feed page</p>
<div>
    <h2>
        @Html.PropertyFor(model => model.CurrentPage.Heading)
    </h2>
</div>
