/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx 
	GRID 80 | 320 <-> 1920
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

.w_1-20                         { width:5%; }
.w_1-12                         { width:8.3333333333%; }
.w_1-10                         { width:10%; }
.w_1-9                          { width:11.1111111111%; }
.w_1-7                          { width:14.2857142857%; }
.w_1-8                          { width:12.5%; }
.w_3-20                         { width:15%; }
.w_1-6                          { width:16.6666666666%; }
.w_1-5                          { width:20%; }
.w_2-9                          { width:22.2222222222%; }
.w_1-4                          { width:25%; }
.w_2-7                          { width:28.5714285714%; }
.w_3-10                         { width:30%; }
.w_1-3                          { width:33.3333333333%; }
.w_7-20                         { width:35%; }
.w_2-5                          { width:40%; }
.w_5-12                         { width:41.6666666666%; }
.w_3-7                          { width:42.8571428571%; }
.w_4-9                          { width:44.4444444444%; }
.w_9-20                         { width:45%; }
.w_1-2                          { width:50%; }
.w_11-20                        { width:55%; }
.w_5-9                          { width:55.5555555555%; }
.w_4-7                          { width:57.1428571428%; }
.w_7-12                         { width:58.3333333333%; }
.w_3-5                          { width:60%; }
.w_5-8                          { width:62.5%; }
.w_13-20                        { width:65%; }
.w_2-3                          { width:66.6666666666%;}
.w_7-10                         { width:70%; }
.w_5-7                          { width:71.4285714285%; }
.w_3-4                          { width:75%; }
.w_7-9                          { width:77.7777777777%; }
.w_4-5                          { width:80%; }
.w_5-6                          { width:83.3333333333%; }
.w_17-20                        { width:85%; }
.w_6-7                          { width:85.7142857142%; }
.w_7-8                          { width:87.5%; }
.w_8-9                          { width:88.8888888888%; }
.w_9-10                         { width:90%; }
.w_11-12                        { width:91.6666666666%; }
.w_19-20                        { width:95%; }
.w_1                            { width:100%; }

@media screen and (max-width: 1920px) {
	
.w21_1-20                       { width:5%; }
.w21_1-12                       { width:8.3333333333%; }
.w21_1-10                       { width:10%; }
.w21_1-9                        { width:11.1111111111%; }
.w21_1-7                        { width:14.2857142857%; }
.w21_1-8                        { width:12.5%; }
.w21_3-20                       { width:15%; }
.w21_1-6                        { width:16.6666666666%; }
.w21_1-5                        { width:20%; }
.w21_2-9                        { width:22.2222222222%; }
.w21_1-4                        { width:25%; }
.w21_2-7                        { width:28.5714285714%; }
.w21_3-10                       { width:30%; }
.w21_1-3                        { width:33.3333333333%; }
.w21_7-20                       { width:35%; }
.w21_2-5                        { width:40%; }
.w21_5-12                       { width:41.6666666666%; }
.w21_3-7                        { width:42.8571428571%; }
.w21_4-9                        { width:44.4444444444%; }
.w21_9-20                       { width:45%; }
.w21_1-2                        { width:50%; }
.w21_11-20                      { width:55%; }
.w21_5-9                        { width:55.5555555555%; }
.w21_4-7                        { width:57.1428571428%; }
.w21_7-12                       { width:58.3333333333%; }
.w21_3-5                        { width:60%; }
.w21_5-8                        { width:62.5%; }
.w21_13-20                      { width:65%; }
.w21_2-3                        { width:66.6666666666%;}
.w21_7-10                       { width:70%; }
.w21_5-7                        { width:71.4285714285%; }
.w21_3-4                        { width:75%; }
.w21_7-9                        { width:77.7777777777%; }
.w21_4-5                        { width:80%; }
.w21_5-6                        { width:83.3333333333%; }
.w21_17-20                      { width:85%; }
.w21_6-7                        { width:85.7142857142%; }
.w21_7-8                        { width:87.5%; }
.w21_8-9                        { width:88.8888888888%; }
.w21_9-10                       { width:90%; }
.w21_11-12                      { width:91.6666666666%; }
.w21_19-20                      { width:95%; }
.w21_1                          { width:100%; }

}

@media screen and (max-width: 1840px) {

.w20_1-20                       { width:5%; }
.w20_1-12                       { width:8.3333333333%; }
.w20_1-10                       { width:10%; }
.w20_1-9                        { width:11.1111111111%; }
.w20_1-7                        { width:14.2857142857%; }
.w20_1-8                        { width:12.5%; }
.w20_3-20                       { width:15%; }
.w20_1-6                        { width:16.6666666666%; }
.w20_1-5                        { width:20%; }
.w20_2-9                        { width:22.2222222222%; }
.w20_1-4                        { width:25%; }
.w20_2-7                        { width:28.5714285714%; }
.w20_3-10                       { width:30%; }
.w20_1-3                        { width:33.3333333333%; }
.w20_7-20                       { width:35%; }
.w20_2-5                        { width:40%; }
.w20_5-12                       { width:41.6666666666%; }
.w20_3-7                        { width:42.8571428571%; }
.w20_4-9                        { width:44.4444444444%; }
.w20_9-20                       { width:45%; }
.w20_1-2                        { width:50%; }
.w20_11-20                      { width:55%; }
.w20_5-9                        { width:55.5555555555%; }
.w20_4-7                        { width:57.1428571428%; }
.w20_7-12                       { width:58.3333333333%; }
.w20_3-5                        { width:60%; }
.w20_5-8                        { width:62.5%; }
.w20_13-20                      { width:65%; }
.w20_2-3                        { width:66.6666666666%;}
.w20_7-10                       { width:70%; }
.w20_5-7                        { width:71.4285714285%; }
.w20_3-4                        { width:75%; }
.w20_7-9                        { width:77.7777777777%; }
.w20_4-5                        { width:80%; }
.w20_5-6                        { width:83.3333333333%; }
.w20_17-20                      { width:85%; }
.w20_6-7                        { width:85.7142857142%; }
.w20_7-8                        { width:87.5%; }
.w20_8-9                        { width:88.8888888888%; }
.w20_9-10                       { width:90%; }
.w20_11-12                      { width:91.6666666666%; }
.w20_19-20                      { width:95%; }
.w20_1                          { width:100%; }

}

@media screen and (max-width: 1760px) {
	
.w19_1-20                       { width:5%; }
.w19_1-12                       { width:8.3333333333%; }
.w19_1-10                       { width:10%; }
.w19_1-9                        { width:11.1111111111%; }
.w19_1-7                        { width:14.2857142857%; }
.w19_1-8                        { width:12.5%; }
.w19_3-20                       { width:15%; }
.w19_1-6                        { width:16.6666666666%; }
.w19_1-5                        { width:20%; }
.w19_2-9                        { width:22.2222222222%; }
.w19_1-4                        { width:25%; }
.w19_2-7                        { width:28.5714285714%; }
.w19_3-10                       { width:30%; }
.w19_1-3                        { width:33.3333333333%; }
.w19_7-20                       { width:35%; }
.w19_2-5                        { width:40%; }
.w19_5-12                       { width:41.6666666666%; }
.w19_3-7                        { width:42.8571428571%; }
.w19_4-9                        { width:44.4444444444%; }
.w19_9-20                       { width:45%; }
.w19_1-2                        { width:50%; }
.w19_11-20                      { width:55%; }
.w19_5-9                        { width:55.5555555555%; }
.w19_4-7                        { width:57.1428571428%; }
.w19_7-12                       { width:58.3333333333%; }
.w19_3-5                        { width:60%; }
.w19_5-8                        { width:62.5%; }
.w19_13-20                      { width:65%; }
.w19_2-3                        { width:66.6666666666%;}
.w19_7-10                       { width:70%; }
.w19_5-7                        { width:71.4285714285%; }
.w19_3-4                        { width:75%; }
.w19_7-9                        { width:77.7777777777%; }
.w19_4-5                        { width:80%; }
.w19_5-6                        { width:83.3333333333%; }
.w19_17-20                      { width:85%; }
.w19_6-7                        { width:85.7142857142%; }
.w19_7-8                        { width:87.5%; }
.w19_8-9                        { width:88.8888888888%; }
.w19_9-10                       { width:90%; }
.w19_11-12                      { width:91.6666666666%; }
.w19_19-20                      { width:95%; }
.w19_1                          { width:100%; }

}

@media screen and (max-width: 1680px) {

.w18_1-20                       { width:5%; }
.w18_1-12                       { width:8.3333333333%; }
.w18_1-10                       { width:10%; }
.w18_1-9                        { width:11.1111111111%; }
.w18_1-7                        { width:14.2857142857%; }
.w18_1-8                        { width:12.5%; }
.w18_3-20                       { width:15%; }
.w18_1-6                        { width:16.6666666666%; }
.w18_1-5                        { width:20%; }
.w18_2-9                        { width:22.2222222222%; }
.w18_1-4                        { width:25%; }
.w18_2-7                        { width:28.5714285714%; }
.w18_3-10                       { width:30%; }
.w18_1-3                        { width:33.3333333333%; }
.w18_7-20                       { width:35%; }
.w18_2-5                        { width:40%; }
.w18_5-12                       { width:41.6666666666%; }
.w18_3-7                        { width:42.8571428571%; }
.w18_4-9                        { width:44.4444444444%; }
.w18_9-20                       { width:45%; }
.w18_1-2                        { width:50%; }
.w18_11-20                      { width:55%; }
.w18_5-9                        { width:55.5555555555%; }
.w18_4-7                        { width:57.1428571428%; }
.w18_7-12                       { width:58.3333333333%; }
.w18_3-5                        { width:60%; }
.w18_5-8                        { width:62.5%; }
.w18_13-20                      { width:65%; }
.w18_2-3                        { width:66.6666666666%;}
.w18_7-10                       { width:70%; }
.w18_5-7                        { width:71.4285714285%; }
.w18_3-4                        { width:75%; }
.w18_7-9                        { width:77.7777777777%; }
.w18_4-5                        { width:80%; }
.w18_5-6                        { width:83.3333333333%; }
.w18_17-20                      { width:85%; }
.w18_6-7                        { width:85.7142857142%; }
.w18_7-8                        { width:87.5%; }
.w18_8-9                        { width:88.8888888888%; }
.w18_9-10                       { width:90%; }
.w18_11-12                      { width:91.6666666666%; }
.w18_19-20                      { width:95%; }
.w18_1                          { width:100%; }

}

@media screen and (max-width: 1600px) {
	
.w17_1-20                       { width:5%; }
.w17_1-12                       { width:8.3333333333%; }
.w17_1-10                       { width:10%; }
.w17_1-9                        { width:11.1111111111%; }
.w17_1-7                        { width:14.2857142857%; }
.w17_1-8                        { width:12.5%; }
.w17_3-20                       { width:15%; }
.w17_1-6                        { width:16.6666666666%; }
.w17_1-5                        { width:20%; }
.w17_2-9                        { width:22.2222222222%; }
.w17_1-4                        { width:25%; }
.w17_2-7                        { width:28.5714285714%; }
.w17_3-10                       { width:30%; }
.w17_1-3                        { width:33.3333333333%; }
.w17_7-20                       { width:35%; }
.w17_2-5                        { width:40%; }
.w17_5-12                       { width:41.6666666666%; }
.w17_3-7                        { width:42.8571428571%; }
.w17_4-9                        { width:44.4444444444%; }
.w17_9-20                       { width:45%; }
.w17_1-2                        { width:50%; }
.w17_11-20                      { width:55%; }
.w17_5-9                        { width:55.5555555555%; }
.w17_4-7                        { width:57.1428571428%; }
.w17_7-12                       { width:58.3333333333%; }
.w17_3-5                        { width:60%; }
.w17_5-8                        { width:62.5%; }
.w17_13-20                      { width:65%; }
.w17_2-3                        { width:66.6666666666%;}
.w17_7-10                       { width:70%; }
.w17_5-7                        { width:71.4285714285%; }
.w17_3-4                        { width:75%; }
.w17_7-9                        { width:77.7777777777%; }
.w17_4-5                        { width:80%; }
.w17_5-6                        { width:83.3333333333%; }
.w17_17-20                      { width:85%; }
.w17_6-7                        { width:85.7142857142%; }
.w17_7-8                        { width:87.5%; }
.w17_8-9                        { width:88.8888888888%; }
.w17_9-10                       { width:90%; }
.w17_11-12                      { width:91.6666666666%; }
.w17_19-20                      { width:95%; }
.w17_1                          { width:100%; }

}

@media screen and (max-width: 1520px) {

.w16_1-20                       { width:5%; }
.w16_1-12                       { width:8.3333333333%; }
.w16_1-10                       { width:10%; }
.w16_1-9                        { width:11.1111111111%; }
.w16_1-7                        { width:14.2857142857%; }
.w16_1-8                        { width:12.5%; }
.w16_3-20                       { width:15%; }
.w16_1-6                        { width:16.6666666666%; }
.w16_1-5                        { width:20%; }
.w16_2-9                        { width:22.2222222222%; }
.w16_1-4                        { width:25%; }
.w16_2-7                        { width:28.5714285714%; }
.w16_3-10                       { width:30%; }
.w16_1-3                        { width:33.3333333333%; }
.w16_7-20                       { width:35%; }
.w16_2-5                        { width:40%; }
.w16_5-12                       { width:41.6666666666%; }
.w16_3-7                        { width:42.8571428571%; }
.w16_4-9                        { width:44.4444444444%; }
.w16_9-20                       { width:45%; }
.w16_1-2                        { width:50%; }
.w16_11-20                      { width:55%; }
.w16_5-9                        { width:55.5555555555%; }
.w16_4-7                        { width:57.1428571428%; }
.w16_7-12                       { width:58.3333333333%; }
.w16_3-5                        { width:60%; }
.w16_5-8                        { width:62.5%; }
.w16_13-20                      { width:65%; }
.w16_2-3                        { width:66.6666666666%;}
.w16_7-10                       { width:70%; }
.w16_5-7                        { width:71.4285714285%; }
.w16_3-4                        { width:75%; }
.w16_7-9                        { width:77.7777777777%; }
.w16_4-5                        { width:80%; }
.w16_5-6                        { width:83.3333333333%; }
.w16_17-20                      { width:85%; }
.w16_6-7                        { width:85.7142857142%; }
.w16_7-8                        { width:87.5%; }
.w16_8-9                        { width:88.8888888888%; }
.w16_9-10                       { width:90%; }
.w16_11-12                      { width:91.6666666666%; }
.w16_19-20                      { width:95%; }
.w16_1                          { width:100%; }

}

@media screen and (max-width: 1440px) {
	
.w15_1-20                       { width:5%; }
.w15_1-12                       { width:8.3333333333%; }
.w15_1-10                       { width:10%; }
.w15_1-9                        { width:11.1111111111%; }
.w15_1-7                        { width:14.2857142857%; }
.w15_1-8                        { width:12.5%; }
.w15_3-20                       { width:15%; }
.w15_1-6                        { width:16.6666666666%; }
.w15_1-5                        { width:20%; }
.w15_2-9                        { width:22.2222222222%; }
.w15_1-4                        { width:25%; }
.w15_2-7                        { width:28.5714285714%; }
.w15_3-10                       { width:30%; }
.w15_1-3                        { width:33.3333333333%; }
.w15_7-20                       { width:35%; }
.w15_2-5                        { width:40%; }
.w15_5-12                       { width:41.6666666666%; }
.w15_3-7                        { width:42.8571428571%; }
.w15_4-9                        { width:44.4444444444%; }
.w15_9-20                       { width:45%; }
.w15_1-2                        { width:50%; }
.w15_11-20                      { width:55%; }
.w15_5-9                        { width:55.5555555555%; }
.w15_4-7                        { width:57.1428571428%; }
.w15_7-12                       { width:58.3333333333%; }
.w15_3-5                        { width:60%; }
.w15_5-8                        { width:62.5%; }
.w15_13-20                      { width:65%; }
.w15_2-3                        { width:66.6666666666%;}
.w15_7-10                       { width:70%; }
.w15_5-7                        { width:71.4285714285%; }
.w15_3-4                        { width:75%; }
.w15_7-9                        { width:77.7777777777%; }
.w15_4-5                        { width:80%; }
.w15_5-6                        { width:83.3333333333%; }
.w15_17-20                      { width:85%; }
.w15_6-7                        { width:85.7142857142%; }
.w15_7-8                        { width:87.5%; }
.w15_8-9                        { width:88.8888888888%; }
.w15_9-10                       { width:90%; }
.w15_11-12                      { width:91.6666666666%; }
.w15_19-20                      { width:95%; }
.w15_1                          { width:100%; }

}

@media screen and (max-width: 1360px) {

.w14_1-20                       { width:5%; }
.w14_1-12                       { width:8.3333333333%; }
.w14_1-10                       { width:10%; }
.w14_1-9                        { width:11.1111111111%; }
.w14_1-7                        { width:14.2857142857%; }
.w14_1-8                        { width:12.5%; }
.w14_3-20                       { width:15%; }
.w14_1-6                        { width:16.6666666666%; }
.w14_1-5                        { width:20%; }
.w14_2-9                        { width:22.2222222222%; }
.w14_1-4                        { width:25%; }
.w14_2-7                        { width:28.5714285714%; }
.w14_3-10                       { width:30%; }
.w14_1-3                        { width:33.3333333333%; }
.w14_7-20                       { width:35%; }
.w14_2-5                        { width:40%; }
.w14_5-12                       { width:41.6666666666%; }
.w14_3-7                        { width:42.8571428571%; }
.w14_4-9                        { width:44.4444444444%; }
.w14_9-20                       { width:45%; }
.w14_1-2                        { width:50%; }
.w14_11-20                      { width:55%; }
.w14_5-9                        { width:55.5555555555%; }
.w14_4-7                        { width:57.1428571428%; }
.w14_7-12                       { width:58.3333333333%; }
.w14_3-5                        { width:60%; }
.w14_5-8                        { width:62.5%; }
.w14_13-20                      { width:65%; }
.w14_2-3                        { width:66.6666666666%;}
.w14_7-10                       { width:70%; }
.w14_5-7                        { width:71.4285714285%; }
.w14_3-4                        { width:75%; }
.w14_7-9                        { width:77.7777777777%; }
.w14_4-5                        { width:80%; }
.w14_5-6                        { width:83.3333333333%; }
.w14_17-20                      { width:85%; }
.w14_6-7                        { width:85.7142857142%; }
.w14_7-8                        { width:87.5%; }
.w14_8-9                        { width:88.8888888888%; }
.w14_9-10                       { width:90%; }
.w14_11-12                      { width:91.6666666666%; }
.w14_19-20                      { width:95%; }
.w14_1                          { width:100%; }

}

@media screen and (max-width: 1280px) {
	
.w13_1-20                       { width:5%; }
.w13_1-12                       { width:8.3333333333%; }
.w13_1-10                       { width:10%; }
.w13_1-9                        { width:11.1111111111%; }
.w13_1-7                        { width:14.2857142857%; }
.w13_1-8                        { width:12.5%; }
.w13_3-20                       { width:15%; }
.w13_1-6                        { width:16.6666666666%; }
.w13_1-5                        { width:20%; }
.w13_2-9                        { width:22.2222222222%; }
.w13_1-4                        { width:25%; }
.w13_2-7                        { width:28.5714285714%; }
.w13_3-10                       { width:30%; }
.w13_1-3                        { width:33.3333333333%; }
.w13_7-20                       { width:35%; }
.w13_2-5                        { width:40%; }
.w13_5-12                       { width:41.6666666666%; }
.w13_3-7                        { width:42.8571428571%; }
.w13_4-9                        { width:44.4444444444%; }
.w13_9-20                       { width:45%; }
.w13_1-2                        { width:50%; }
.w13_11-20                      { width:55%; }
.w13_5-9                        { width:55.5555555555%; }
.w13_4-7                        { width:57.1428571428%; }
.w13_7-12                       { width:58.3333333333%; }
.w13_3-5                        { width:60%; }
.w13_5-8                        { width:62.5%; }
.w13_13-20                      { width:65%; }
.w13_2-3                        { width:66.6666666666%;}
.w13_7-10                       { width:70%; }
.w13_5-7                        { width:71.4285714285%; }
.w13_3-4                        { width:75%; }
.w13_7-9                        { width:77.7777777777%; }
.w13_4-5                        { width:80%; }
.w13_5-6                        { width:83.3333333333%; }
.w13_17-20                      { width:85%; }
.w13_6-7                        { width:85.7142857142%; }
.w13_7-8                        { width:87.5%; }
.w13_8-9                        { width:88.8888888888%; }
.w13_9-10                       { width:90%; }
.w13_11-12                      { width:91.6666666666%; }
.w13_19-20                      { width:95%; }
.w13_1                          { width:100%; }

}

@media screen and (max-width: 1200px) {
			
.w12_1-20                       { width:5%; }
.w12_1-12                       { width:8.3333333333%; }
.w12_1-10                       { width:10%; }
.w12_1-9                        { width:11.1111111111%; }
.w12_1-7                        { width:14.2857142857%; }
.w12_1-8                        { width:12.5%; }
.w12_3-20                       { width:15%; }
.w12_1-6                        { width:16.6666666666%; }
.w12_1-5                        { width:20%; }
.w12_2-9                        { width:22.2222222222%; }
.w12_1-4                        { width:25%; }
.w12_2-7                        { width:28.5714285714%; }
.w12_3-10                       { width:30%; }
.w12_1-3                        { width:33.3333333333%; }
.w12_7-20                       { width:35%; }
.w12_2-5                        { width:40%; }
.w12_5-12                       { width:41.6666666666%; }
.w12_3-7                        { width:42.8571428571%; }
.w12_4-9                        { width:44.4444444444%; }
.w12_9-20                       { width:45%; }
.w12_1-2                        { width:50%; }
.w12_11-20                      { width:55%; }
.w12_5-9                        { width:55.5555555555%; }
.w12_4-7                        { width:57.1428571428%; }
.w12_7-12                       { width:58.3333333333%; }
.w12_3-5                        { width:60%; }
.w12_5-8                        { width:62.5%; }
.w12_13-20                      { width:65%; }
.w12_2-3                        { width:66.6666666666%;}
.w12_7-10                       { width:70%; }
.w12_5-7                        { width:71.4285714285%; }
.w12_3-4                        { width:75%; }
.w12_7-9                        { width:77.7777777777%; }
.w12_4-5                        { width:80%; }
.w12_5-6                        { width:83.3333333333%; }
.w12_17-20                      { width:85%; }
.w12_6-7                        { width:85.7142857142%; }
.w12_7-8                        { width:87.5%; }
.w12_8-9                        { width:88.8888888888%; }
.w12_9-10                       { width:90%; }
.w12_11-12                      { width:91.6666666666%; }
.w12_19-20                      { width:95%; }
.w12_1                          { width:100%; }

}

@media screen and (max-width: 1120px) {
	
.w11_1-20                       { width:5%; }
.w11_1-12                       { width:8.3333333333%; }
.w11_1-10                       { width:10%; }
.w11_1-9                        { width:11.1111111111%; }
.w11_1-7                        { width:14.2857142857%; }
.w11_1-8                        { width:12.5%; }
.w11_3-20                       { width:15%; }
.w11_1-6                        { width:16.6666666666%; }
.w11_1-5                        { width:20%; }
.w11_2-9                        { width:22.2222222222%; }
.w11_1-4                        { width:25%; }
.w11_2-7                        { width:28.5714285714%; }
.w11_3-10                       { width:30%; }
.w11_1-3                        { width:33.3333333333%; }
.w11_7-20                       { width:35%; }
.w11_2-5                        { width:40%; }
.w11_5-12                       { width:41.6666666666%; }
.w11_3-7                        { width:42.8571428571%; }
.w11_4-9                        { width:44.4444444444%; }
.w11_9-20                       { width:45%; }
.w11_1-2                        { width:50%; }
.w11_11-20                      { width:55%; }
.w11_5-9                        { width:55.5555555555%; }
.w11_4-7                        { width:57.1428571428%; }
.w11_7-12                       { width:58.3333333333%; }
.w11_3-5                        { width:60%; }
.w11_5-8                        { width:62.5%; }
.w11_13-20                      { width:65%; }
.w11_2-3                        { width:66.6666666666%;}
.w11_7-10                       { width:70%; }
.w11_5-7                        { width:71.4285714285%; }
.w11_3-4                        { width:75%; }
.w11_7-9                        { width:77.7777777777%; }
.w11_4-5                        { width:80%; }
.w11_5-6                        { width:83.3333333333%; }
.w11_17-20                      { width:85%; }
.w11_6-7                        { width:85.7142857142%; }
.w11_7-8                        { width:87.5%; }
.w11_8-9                        { width:88.8888888888%; }
.w11_9-10                       { width:90%; }
.w11_11-12                      { width:91.6666666666%; }
.w11_19-20                      { width:95%; }
.w11_1                          { width:100%; }

}

@media screen and (max-width: 1040px) {
	
.w10_1-20                       { width:5%; }
.w10_1-12                       { width:8.3333333333%; }
.w10_1-10                       { width:10%; }
.w10_1-9                        { width:11.1111111111%; }
.w10_1-7                        { width:14.2857142857%; }
.w10_1-8                        { width:12.5%; }
.w10_3-20                       { width:15%; }
.w10_1-6                        { width:16.6666666666%; }
.w10_1-5                        { width:20%; }
.w10_2-9                        { width:22.2222222222%; }
.w10_1-4                        { width:25%; }
.w10_2-7                        { width:28.5714285714%; }
.w10_3-10                       { width:30%; }
.w10_1-3                        { width:33.3333333333%; }
.w10_7-20                       { width:35%; }
.w10_2-5                        { width:40%; }
.w10_5-12                       { width:41.6666666666%; }
.w10_3-7                        { width:42.8571428571%; }
.w10_4-9                        { width:44.4444444444%; }
.w10_9-20                       { width:45%; }
.w10_1-2                        { width:50%; }
.w10_11-20                      { width:55%; }
.w10_5-9                        { width:55.5555555555%; }
.w10_4-7                        { width:57.1428571428%; }
.w10_7-12                       { width:58.3333333333%; }
.w10_3-5                        { width:60%; }
.w10_5-8                        { width:62.5%; }
.w10_13-20                      { width:65%; }
.w10_2-3                        { width:66.6666666666%;}
.w10_7-10                       { width:70%; }
.w10_5-7                        { width:71.4285714285%; }
.w10_3-4                        { width:75%; }
.w10_7-9                        { width:77.7777777777%; }
.w10_4-5                        { width:80%; }
.w10_5-6                        { width:83.3333333333%; }
.w10_17-20                      { width:85%; }
.w10_6-7                        { width:85.7142857142%; }
.w10_7-8                        { width:87.5%; }
.w10_8-9                        { width:88.8888888888%; }
.w10_9-10                       { width:90%; }
.w10_11-12                      { width:91.6666666666%; }
.w10_19-20                      { width:95%; }
.w10_1                          { width:100%; }

}

@media screen and (max-width: 960px) {
	
.w9_1-20                        { width:5%; }
.w9_1-12                        { width:8.3333333333%; }
.w9_1-10                        { width:10%; }
.w9_1-9                         { width:11.1111111111%; }
.w9_1-7                         { width:14.2857142857%; }
.w9_1-8                         { width:12.5%; }
.w9_3-20                        { width:15%; }
.w9_1-6                         { width:16.6666666666%; }
.w9_1-5                         { width:20%; }
.w9_2-9                         { width:22.2222222222%; }
.w9_1-4                         { width:25%; }
.w9_2-7                         { width:28.5714285714%; }
.w9_3-10                        { width:30%; }
.w9_1-3                         { width:33.3333333333%; }
.w9_7-20                        { width:35%; }
.w9_2-5                         { width:40%; }
.w9_5-12                        { width:41.6666666666%; }
.w9_3-7                         { width:42.8571428571%; }
.w9_4-9                         { width:44.4444444444%; }
.w9_9-20                        { width:45%; }
.w9_1-2                         { width:50%; }
.w9_11-20                       { width:55%; }
.w9_5-9                         { width:55.5555555555%; }
.w9_4-7                         { width:57.1428571428%; }
.w9_7-12                        { width:58.3333333333%; }
.w9_3-5                         { width:60%; }
.w9_5-8                         { width:62.5%; }
.w9_13-20                       { width:65%; }
.w9_2-3                         { width:66.6666666666%;}
.w9_7-10                        { width:70%; }
.w9_5-7                         { width:71.4285714285%; }
.w9_3-4                         { width:75%; }
.w9_7-9                         { width:77.7777777777%; }
.w9_4-5                         { width:80%; }
.w9_5-6                         { width:83.3333333333%; }
.w9_17-20                       { width:85%; }
.w9_6-7                         { width:85.7142857142%; }
.w9_7-8                         { width:87.5%; }
.w9_8-9                         { width:88.8888888888%; }
.w9_9-10                        { width:90%; }
.w9_11-12                       { width:91.6666666666%; }
.w9_19-20                       { width:95%; }
.w9_1                           { width:100%; }

}

@media screen and (max-width: 880px) {
	
.w8_1-20                        { width:5%; }
.w8_1-12                        { width:8.3333333333%; }
.w8_1-10                        { width:10%; }
.w8_1-9                         { width:11.1111111111%; }
.w8_1-7                         { width:14.2857142857%; }
.w8_1-8                         { width:12.5%; }
.w8_3-20                        { width:15%; }
.w8_1-6                         { width:16.6666666666%; }
.w8_1-5                         { width:20%; }
.w8_2-9                         { width:22.2222222222%; }
.w8_1-4                         { width:25%; }
.w8_2-7                         { width:28.5714285714%; }
.w8_3-10                        { width:30%; }
.w8_1-3                         { width:33.3333333333%; }
.w8_7-20                        { width:35%; }
.w8_2-5                         { width:40%; }
.w8_5-12                        { width:41.6666666666%; }
.w8_3-7                         { width:42.8571428571%; }
.w8_4-9                         { width:44.4444444444%; }
.w8_9-20                        { width:45%; }
.w8_1-2                         { width:50%; }
.w8_11-20                       { width:55%; }
.w8_5-9                         { width:55.5555555555%; }
.w8_4-7                         { width:57.1428571428%; }
.w8_7-12                        { width:58.3333333333%; }
.w8_3-5                         { width:60%; }
.w8_5-8                         { width:62.5%; }
.w8_13-20                       { width:65%; }
.w8_2-3                         { width:66.6666666666%;}
.w8_7-10                        { width:70%; }
.w8_5-7                         { width:71.4285714285%; }
.w8_3-4                         { width:75%; }
.w8_7-9                         { width:77.7777777777%; }
.w8_4-5                         { width:80%; }
.w8_5-6                         { width:83.3333333333%; }
.w8_17-20                       { width:85%; }
.w8_6-7                         { width:85.7142857142%; }
.w8_7-8                         { width:87.5%; }
.w8_8-9                         { width:88.8888888888%; }
.w8_9-10                        { width:90%; }
.w8_11-12                       { width:91.6666666666%; }
.w8_19-20                       { width:95%; }
.w8_1                           { width:100%; }

}

@media screen and (max-width: 800px) {
	
.w7_1-20                        { width:5%; }
.w7_1-12                        { width:8.3333333333%; }
.w7_1-10                        { width:10%; }
.w7_1-9                         { width:11.1111111111%; }
.w7_1-7                         { width:14.2857142857%; }
.w7_1-8                         { width:12.5%; }
.w7_3-20                        { width:15%; }
.w7_1-6                         { width:16.6666666666%; }
.w7_1-5                         { width:20%; }
.w7_2-9                         { width:22.2222222222%; }
.w7_1-4                         { width:25%; }
.w7_2-7                         { width:28.5714285714%; }
.w7_3-10                        { width:30%; }
.w7_1-3                         { width:33.3333333333%; }
.w7_7-20                        { width:35%; }
.w7_2-5                         { width:40%; }
.w7_5-12                        { width:41.6666666666%; }
.w7_3-7                         { width:42.8571428571%; }
.w7_4-9                         { width:44.4444444444%; }
.w7_9-20                        { width:45%; }
.w7_1-2                         { width:50%; }
.w7_11-20                       { width:55%; }
.w7_5-9                         { width:55.5555555555%; }
.w7_4-7                         { width:57.1428571428%; }
.w7_7-12                        { width:58.3333333333%; }
.w7_3-5                         { width:60%; }
.w7_5-8                         { width:62.5%; }
.w7_13-20                       { width:65%; }
.w7_2-3                         { width:66.6666666666%;}
.w7_7-10                        { width:70%; }
.w7_5-7                         { width:71.4285714285%; }
.w7_3-4                         { width:75%; }
.w7_7-9                         { width:77.7777777777%; }
.w7_4-5                         { width:80%; }
.w7_5-6                         { width:83.3333333333%; }
.w7_17-20                       { width:85%; }
.w7_6-7                         { width:85.7142857142%; }
.w7_7-8                         { width:87.5%; }
.w7_8-9                         { width:88.8888888888%; }
.w7_9-10                        { width:90%; }
.w7_11-12                       { width:91.6666666666%; }
.w7_19-20                       { width:95%; }
.w7_1                           { width:100%; }

}

@media screen and (max-width: 720px) {
	
.w6_1-20                        { width:5%; }
.w6_1-12                        { width:8.3333333333%; }
.w6_1-10                        { width:10%; }
.w6_1-9                         { width:11.1111111111%; }
.w6_1-7                         { width:14.2857142857%; }
.w6_1-8                         { width:12.5%; }
.w6_3-20                        { width:15%; }
.w6_1-6                         { width:16.6666666666%; }
.w6_1-5                         { width:20%; }
.w6_2-9                         { width:22.2222222222%; }
.w6_1-4                         { width:25%; }
.w6_2-7                         { width:28.5714285714%; }
.w6_3-10                        { width:30%; }
.w6_1-3                         { width:33.3333333333%; }
.w6_7-20                        { width:35%; }
.w6_2-5                         { width:40%; }
.w6_5-12                        { width:41.6666666666%; }
.w6_3-7                         { width:42.8571428571%; }
.w6_4-9                         { width:44.4444444444%; }
.w6_9-20                        { width:45%; }
.w6_1-2                         { width:50%; }
.w6_11-20                       { width:55%; }
.w6_5-9                         { width:55.5555555555%; }
.w6_4-7                         { width:57.1428571428%; }
.w6_7-12                        { width:58.3333333333%; }
.w6_3-5                         { width:60%; }
.w6_5-8                         { width:62.5%; }
.w6_13-20                       { width:65%; }
.w6_2-3                         { width:66.6666666666%;}
.w6_7-10                        { width:70%; }
.w6_5-7                         { width:71.4285714285%; }
.w6_3-4                         { width:75%; }
.w6_7-9                         { width:77.7777777777%; }
.w6_4-5                         { width:80%; }
.w6_5-6                         { width:83.3333333333%; }
.w6_17-20                       { width:85%; }
.w6_6-7                         { width:85.7142857142%; }
.w6_7-8                         { width:87.5%; }
.w6_8-9                         { width:88.8888888888%; }
.w6_9-10                        { width:90%; }
.w6_11-12                       { width:91.6666666666%; }
.w6_19-20                       { width:95%; }
.w6_1                           { width:100%; }

}

@media screen and (max-width: 640px) {
	
.w5_1-20                        { width:5%; }
.w5_1-12                        { width:8.3333333333%; }
.w5_1-10                        { width:10%; }
.w5_1-9                         { width:11.1111111111%; }
.w5_1-7                         { width:14.2857142857%; }
.w5_1-8                         { width:12.5%; }
.w5_3-20                        { width:15%; }
.w5_1-6                         { width:16.6666666666%; }
.w5_1-5                         { width:20%; }
.w5_2-9                         { width:22.2222222222%; }
.w5_1-4                         { width:25%; }
.w5_2-7                         { width:28.5714285714%; }
.w5_3-10                        { width:30%; }
.w5_1-3                         { width:33.3333333333%; }
.w5_7-20                        { width:35%; }
.w5_2-5                         { width:40%; }
.w5_5-12                        { width:41.6666666666%; }
.w5_3-7                         { width:42.8571428571%; }
.w5_4-9                         { width:44.4444444444%; }
.w5_9-20                        { width:45%; }
.w5_1-2                         { width:50%; }
.w5_11-20                       { width:55%; }
.w5_5-9                         { width:55.5555555555%; }
.w5_4-7                         { width:57.1428571428%; }
.w5_7-12                        { width:58.3333333333%; }
.w5_3-5                         { width:60%; }
.w5_5-8                         { width:62.5%; }
.w5_13-20                       { width:65%; }
.w5_2-3                         { width:66.6666666666%;}
.w5_7-10                        { width:70%; }
.w5_5-7                         { width:71.4285714285%; }
.w5_3-4                         { width:75%; }
.w5_7-9                         { width:77.7777777777%; }
.w5_4-5                         { width:80%; }
.w5_5-6                         { width:83.3333333333%; }
.w5_17-20                       { width:85%; }
.w5_6-7                         { width:85.7142857142%; }
.w5_7-8                         { width:87.5%; }
.w5_8-9                         { width:88.8888888888%; }
.w5_9-10                        { width:90%; }
.w5_11-12                       { width:91.6666666666%; }
.w5_19-20                       { width:95%; }
.w5_1                           { width:100%; }

}

@media screen and (max-width: 560px) {
	
.w4_1-20                        { width:5%; }
.w4_1-12                        { width:8.3333333333%; }
.w4_1-10                        { width:10%; }
.w4_1-9                         { width:11.1111111111%; }
.w4_1-7                         { width:14.2857142857%; }
.w4_1-8                         { width:12.5%; }
.w4_3-20                        { width:15%; }
.w4_1-6                         { width:16.6666666666%; }
.w4_1-5                         { width:20%; }
.w4_2-9                         { width:22.2222222222%; }
.w4_1-4                         { width:25%; }
.w4_2-7                         { width:28.5714285714%; }
.w4_3-10                        { width:30%; }
.w4_1-3                         { width:33.3333333333%; }
.w4_7-20                        { width:35%; }
.w4_2-5                         { width:40%; }
.w4_5-12                        { width:41.6666666666%; }
.w4_3-7                         { width:42.8571428571%; }
.w4_4-9                         { width:44.4444444444%; }
.w4_9-20                        { width:45%; }
.w4_1-2                         { width:50%; }
.w4_11-20                       { width:55%; }
.w4_5-9                         { width:55.5555555555%; }
.w4_4-7                         { width:57.1428571428%; }
.w4_7-12                        { width:58.3333333333%; }
.w4_3-5                         { width:60%; }
.w4_5-8                         { width:62.5%; }
.w4_13-20                       { width:65%; }
.w4_2-3                         { width:66.6666666666%;}
.w4_7-10                        { width:70%; }
.w4_5-7                         { width:71.4285714285%; }
.w4_3-4                         { width:75%; }
.w4_7-9                         { width:77.7777777777%; }
.w4_4-5                         { width:80%; }
.w4_5-6                         { width:83.3333333333%; }
.w4_17-20                       { width:85%; }
.w4_6-7                         { width:85.7142857142%; }
.w4_7-8                         { width:87.5%; }
.w4_8-9                         { width:88.8888888888%; }
.w4_9-10                        { width:90%; }
.w4_11-12                       { width:91.6666666666%; }
.w4_19-20                       { width:95%; }
.w4_1                           { width:100%; }

}

@media screen and (max-width: 480px) {
	
.w3_1-20                        { width:5%; }
.w3_1-12                        { width:8.3333333333%; }
.w3_1-10                        { width:10%; }
.w3_1-9                         { width:11.1111111111%; }
.w3_1-7                         { width:14.2857142857%; }
.w3_1-8                         { width:12.5%; }
.w3_3-20                        { width:15%; }
.w3_1-6                         { width:16.6666666666%; }
.w3_1-5                         { width:20%; }
.w3_2-9                         { width:22.2222222222%; }
.w3_1-4                         { width:25%; }
.w3_2-7                         { width:28.5714285714%; }
.w3_3-10                        { width:30%; }
.w3_1-3                         { width:33.3333333333%; }
.w3_7-20                        { width:35%; }
.w3_2-5                         { width:40%; }
.w3_5-12                        { width:41.6666666666%; }
.w3_3-7                         { width:42.8571428571%; }
.w3_4-9                         { width:44.4444444444%; }
.w3_9-20                        { width:45%; }
.w3_1-2                         { width:50%; }
.w3_11-20                       { width:55%; }
.w3_5-9                         { width:55.5555555555%; }
.w3_4-7                         { width:57.1428571428%; }
.w3_7-12                        { width:58.3333333333%; }
.w3_3-5                         { width:60%; }
.w3_5-8                         { width:62.5%; }
.w3_13-20                       { width:65%; }
.w3_2-3                         { width:66.6666666666%;}
.w3_7-10                        { width:70%; }
.w3_5-7                         { width:71.4285714285%; }
.w3_3-4                         { width:75%; }
.w3_7-9                         { width:77.7777777777%; }
.w3_4-5                         { width:80%; }
.w3_5-6                         { width:83.3333333333%; }
.w3_17-20                       { width:85%; }
.w3_6-7                         { width:85.7142857142%; }
.w3_7-8                         { width:87.5%; }
.w3_8-9                         { width:88.8888888888%; }
.w3_9-10                        { width:90%; }
.w3_11-12                       { width:91.6666666666%; }
.w3_19-20                       { width:95%; }
.w3_1                           { width:100%; }

}

@media screen and (max-width: 400px) {
	
.w2_1-20                        { width:5%; }
.w2_1-12                        { width:8.3333333333%; }
.w2_1-10                        { width:10%; }
.w2_1-9                         { width:11.1111111111%; }
.w2_1-7                         { width:14.2857142857%; }
.w2_1-8                         { width:12.5%; }
.w2_3-20                        { width:15%; }
.w2_1-6                         { width:16.6666666666%; }
.w2_1-5                         { width:20%; }
.w2_2-9                         { width:22.2222222222%; }
.w2_1-4                         { width:25%; }
.w2_2-7                         { width:28.5714285714%; }
.w2_3-10                        { width:30%; }
.w2_1-3                         { width:33.3333333333%; }
.w2_7-20                        { width:35%; }
.w2_2-5                         { width:40%; }
.w2_5-12                        { width:41.6666666666%; }
.w2_3-7                         { width:42.8571428571%; }
.w2_4-9                         { width:44.4444444444%; }
.w2_9-20                        { width:45%; }
.w2_1-2                         { width:50%; }
.w2_11-20                       { width:55%; }
.w2_5-9                         { width:55.5555555555%; }
.w2_4-7                         { width:57.1428571428%; }
.w2_7-12                        { width:58.3333333333%; }
.w2_3-5                         { width:60%; }
.w2_5-8                         { width:62.5%; }
.w2_13-20                       { width:65%; }
.w2_2-3                         { width:66.6666666666%;}
.w2_7-10                        { width:70%; }
.w2_5-7                         { width:71.4285714285%; }
.w2_3-4                         { width:75%; }
.w2_7-9                         { width:77.7777777777%; }
.w2_4-5                         { width:80%; }
.w2_5-6                         { width:83.3333333333%; }
.w2_17-20                       { width:85%; }
.w2_6-7                         { width:85.7142857142%; }
.w2_7-8                         { width:87.5%; }
.w2_8-9                         { width:88.8888888888%; }
.w2_9-10                        { width:90%; }
.w2_11-12                       { width:91.6666666666%; }
.w2_19-20                       { width:95%; }
.w2_1                           { width:100%; }

}

@media screen and (max-width: 320px) {
	
.w1_1-20                        { width:5%; }
.w1_1-12                        { width:8.3333333333%; }
.w1_1-10                        { width:10%; }
.w1_1-9                         { width:11.1111111111%; }
.w1_1-7                         { width:14.2857142857%; }
.w1_1-8                         { width:12.5%; }
.w1_3-20                        { width:15%; }
.w1_1-6                         { width:16.6666666666%; }
.w1_1-5                         { width:20%; }
.w1_2-9                         { width:22.2222222222%; }
.w1_1-4                         { width:25%; }
.w1_2-7                         { width:28.5714285714%; }
.w1_3-10                        { width:30%; }
.w1_1-3                         { width:33.3333333333%; }
.w1_7-20                        { width:35%; }
.w1_2-5                         { width:40%; }
.w1_5-12                        { width:41.6666666666%; }
.w1_3-7                         { width:42.8571428571%; }
.w1_4-9                         { width:44.4444444444%; }
.w1_9-20                        { width:45%; }
.w1_1-2                         { width:50%; }
.w1_11-20                       { width:55%; }
.w1_5-9                         { width:55.5555555555%; }
.w1_4-7                         { width:57.1428571428%; }
.w1_7-12                        { width:58.3333333333%; }
.w1_3-5                         { width:60%; }
.w1_5-8                         { width:62.5%; }
.w1_13-20                       { width:65%; }
.w1_2-3                         { width:66.6666666666%;}
.w1_7-10                        { width:70%; }
.w1_5-7                         { width:71.4285714285%; }
.w1_3-4                         { width:75%; }
.w1_7-9                         { width:77.7777777777%; }
.w1_4-5                         { width:80%; }
.w1_5-6                         { width:83.3333333333%; }
.w1_17-20                       { width:85%; }
.w1_6-7                         { width:85.7142857142%; }
.w1_7-8                         { width:87.5%; }
.w1_8-9                         { width:88.8888888888%; }
.w1_9-10                        { width:90%; }
.w1_11-12                       { width:91.6666666666%; }
.w1_19-20                       { width:95%; }
.w1_1                           { width:100%; }

}
