<div id="lb-contact" class="lb">
    <a class="lb-overlay"></a>
    <div class="lb-holder">
        <div class="lb-box">
            <a class="lb-close" title="Stäng"></a>
            <div class="content">

                <div id="lb-contact-form" class="form">
                    <div class="intro">
                        <h2>Kontakta oss</h2>
                        <p>Vi återkommer med svar inom 24 timmar.</p>
                    </div>
                    <form method="post" id="ContactForm">
                        <div id="ContactStatus" class="alert" style="display:none;"></div>

                        <section>
                            <div class="asterix-info"><span class="asterix">*</span> Obligatoriskt</div>
                            <input type="button" value="Skicka" class="btn-text" id="ContactSubmitButton">
                        </section>
                    </form>
                </div>

                <div id="lb-contact-confirm" style="display:none;">
                    <h2>Tack för att du valt att kontakta oss!</h2>
                    <p><a href="javascript:switchID('lb-contact-confirm','lb-contact-form');">Visa formuläret</a></p>
                </div>

            </div>
        </div>
    </div>
</div>