<?xml version="1.0" encoding="utf-8" ?>

<log4net xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appender name="errorFileLogAppender" xdt:Locator="Match(name)" >
    <file value="F:\EPiServerLogs\Vaderstad.External.Log\EPiServerErrors.log" xdt:Transform="SetAttributes" />
  </appender>
</log4net>