<?xml version="1.0" encoding="utf-8"?>
<module>
  <assemblies>
    <!-- This adds the Solution template assembly to the "default module" -->
    <add assembly="Knowit.EpiserverFramework.EpiCore" />
  </assemblies>

  <clientResources>
    <add name="epi-cms.widgets.base" path="Styles/Styles.css" resourceType="Style"/>
  </clientResources>

  <dojoModules>
    <!-- Add a mapping from The Solution to ~/ClientResources/Scripts to the dojo loader configuration -->
    <add name="knowit" path="Scripts" />
  </dojoModules>
</module>