<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <episerver.framework updateDatabaseSchema="true" xdt:Transform="SetAttributes">
    <blob defaultProvider="fileShare" xdt:Transform="Insert" >
      <providers>
        <add name="fileShare" path="E:\WebResources\Nykopingsguiden.BlobFileShare" type="EPiServer.Framework.Blobs.FileBlobProvider, EPiServer.Framework" />
      </providers>
    </blob>
  </episerver.framework>
  <system.net>
    <mailSettings>
      <smtp from="noreply@knowit.se" xdt:Transform="SetAttributes">
        <network host="relay.knowit.local" port="25" xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>
  <connectionStrings>
    <add name="EPiServerDB" connectionString="Data Source=.\MSSQL2014;Initial Catalog=Nykopingsguiden;Integrated Security=False;User ID=dbUser.Nykopingsguiden;Password=*Nykoping17*;Timeout=60;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="SetAttributes" />
  </connectionStrings>
</configuration>