
@mixin padding-conceptpage-section {
    padding: 25px 0px;

    @include respond-to(small) {
        padding: 50px 0px;
    }
}

@mixin padding-productpage-section {
    padding: 40px 15px;

    @include respond-to(small) {
        padding: 80px 0px;
    }
}

@mixin branding-image {
    position: relative;

    h1 {
        position: absolute;
        top: 12%;
        text-align: center;
        color: $vad-white;
        width: 80%;
        left: 10%;
        font-size: floor(($font-size-h1 * 0.6));
        margin-top:0;

        @include respond-to(small) {
            font-size: floor(($font-size-h1 * 0.7));
            top: 10%;
        }

        @include respond-to(medium) {
            font-size: floor(($font-size-h1 * 1));
        }

        @include respond-to(large) {
            font-size: floor(($font-size-h1 * 1.3));
        }
    }

    img{
        width:100%;
    }
}

@mixin intro {
    text-align: center;
    font-size: floor(($font-size-base * 1.2));

    @include respond-to(medium) {
        font-size: $font-size-large;
    }
}

@mixin functions {
    margin-top: 10px;
    text-align:center;
}

@mixin product-entrances {
    @include padding-conceptpage-section;

    a {
        color: $vad-black;
    }

    h3, h4 {
        font-family: "Cheltenham ITC W01 Book";
        margin-top: 6px;
    }

    .product-card {
        text-align: center;
        padding: 15px;
        position: relative;
        overflow: hidden;

        @include respond-to(small) {
            padding: 15px 40px;
        }

        &:hover {
            color: inherit;
            text-decoration: none;

            &:before {
                transition: .1s transform linear, .1s height linear .1s;
                transform: translateX(0);
                height: 100%;
                border-color: $vad-red;
            }

            &:after {
                transition: .1s transform linear .2s, .1s height linear .3s;
                transform: translateX(0);
                height: 100%;
                border-color: $vad-red;
            }
        }

        &:before {
            transform: translateX(100%);
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 99.5%;
            height: 2px;
            border-bottom: 2px solid transparent;
            border-left: 2px solid transparent;
        }

        &:after {
            transform: translateX(-100%);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 99.5%;
            height: 2px;
            border-top: 2px solid transparent;
            border-right: 2px solid transparent;
        }

        .content {
            padding: 0px 40px;

            .heading {
                border-bottom: 4px solid $vad-red;
            }

            @include functions;
        }
    }
}
